html {
  height: 100%;
}
body {
  background: #fefefe;
  min-height: 100%;
}


.transparent {
  background: transparent;
}

.main {
  border-top: .4375rem solid #791716;
}

a, a:visited {
  color: #8F0100;
  text-decoration: none;
}

.spinner {
  position: relative;
  top: 100px;

}
.spinner {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;


}
.main-content {
  background: #fefefe;

}

.inner-width {
  max-width: 800px;
}
.app-side-nav {
  margin-top: 158px;
}

md-sidenav.md-locked-open {
  max-width: 230px;
}

.content-width {
  max-width: 950px;
}

.dialog-width {
  max-width: 1000px;
}

.page-title {
  margin: 0 8px;
}

.nav-logo {
  color: #ffffff;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button:not(.md-raised),
md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
  color: #ffffff;
}

md-list-item.md-2-line .md-list-item-text {
  padding: 14px 6px;
  border: 0;
  outline: 0;
}


md-dialog > md-toolbar {
  background: rgb(79, 28, 27) !important;
}

.dialog-column-padding {
  padding: 0px 12px;
}

.nav-login {
  right: 72px;
}

.top-highlight {
  background-image: url('/images/masthead-bottom-img.jpg'), url('/images/background-grain.jpg');
  background-repeat: no-repeat, repeat-x;
  background-position: top center, top center;

}

.top-offset {
  margin-top: -192px;
}

.item-title {
  line-height: 42px;
  margin-top: 4px;
}

.parent-title {
  line-height: 18px;
}

.background-highlight {
  background: #fdfaf2;
  padding: 8px;
}

.discover-item em {
  border: 1px solid #3FAAB2;
  color: #18676D;
  padding: 0 3px;

}

.list-highlight {
  cursor: pointer;
  color: #8F0100 !important;
}

.search-form {
  width: 200px;
}

.search-form md-input-container.md-has-icon {
  padding-left: 0px;
}

.sort-options {
  padding: 0px 16px;
}

.search-form md-input-container {
  margin: 0;
}

.search-form md-input-container md-radio-button {
  margin-bottom: 6px;
}

.search-form md-radio-group md-radio-button:not(:first-child) {
  margin-top: 8px;
}

.search-form .md-errors-spacer {
  min-height: 8px;
}

.search-form .md-button {
  margin: 8px 0;
}

.file-info .md-button {
  margin: 8px 0;
}

.file-info .md-button,
.file-info .md-button md-icon {
  color: #37949b;

}

.search-form .md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.search-form .md-button[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}



.app-list-item
{
  padding: 12px 9px;
  border: 0;
  outline: 0;
}
.selected-index .app-list-item {
  padding: 2px 9px;
}
.app-list-item div
{
  border: 0;
  outline: 0;
}

.selected md-list-item.md-no-proxy, .selected md-list-item .md-no-style {
  padding: 0px 4px 0 4px;
}

.selected md-list-item.md-2-line .md-list-item-text {

  outline: 0;
  border: 0;
}

md-list-item.selected-index
{
  padding: 8px 8px;
  background: #c6b48d;
  margin: 8px 3px 10px;
  width: 99%;
}

md-list-item.selected-sm-index{
  margin: 3px 3px 10px;
  border: 1px solid #ccc;
  width: 99%;
  background: #fff;
}

md-list-item .browse-item
{
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0;

}

md-list-item.selected-index .browse-item,
md-list-item.selected-sm-index .browse-item{
  height: 100%;
  background: #FAF9F7;
  visibility: visible;
  opacity: 1;
  max-height: 900px;
  margin-left: -10px;
  margin-bottom: 3px;
  width: 100%;
  transition: height 200ms, max-height 200ms, margin-left 400ms, opacity 400ms, visibility 400ms;

}

.selected-index .browse-item:last-child,
.selected-sm-index .browse-item:last-child
{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


.browse-anchor {
  cursor: pointer;
}

.selected-index .browse-anchor,
.selected-sm-index .browse-anchor {
  cursor: default;
  color: #173C3F;
  outline: 0;
  border: 0;
}

.selected-index .browse-anchor.md-title,
.selected-sm-index .browse-anchor.md-title {
  margin-bottom: 10px;
  margin-top: 6px;
  display: block;

}

item-detail-component {
  display: block;
}



/*.selected .md-whiteframe-z2 .browse-item.browse-item-1 {*/
  /*height: 112px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-2 {*/
  /*height: 196px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-3 {*/
  /*height: 290px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-4 {*/
  /*height: 378px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-5 {*/
  /*height: 470px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-6 {*/
  /*height: 462px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-7 {*/
  /*height: 544px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-8 {*/
  /*height: 606px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-9 {*/
  /*height: 651px;*/
/*}*/

/*.selected .md-whiteframe-z2 .browse-item.browse-item-10 {*/
  /*height: 832px;*/
/*}*/

md-dialog-content h3 {
  color: rgb(121, 23, 22);
}

.footer {
  margin-top: 200px;
  min-height: 300px;
  background-color: #791716;

  text-align: center;
}

.footer > .footer-background {
  min-height: 300px;
  background-position: 100% 0;
}

.footer > .footer-background {
  padding: 3.4375em 0;
}

.footer > .footer-background {
  background-image: url(/images/footer-watermark.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  padding: 2.1875em;
}

.footer-main-nav {
  margin-top: 40px;
}

.footer-main-nav a {
  font-size: 1.125em;
}

.footer-main-nav a {
  color: #c0ac7e;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-weight: 500;
  font-size: 1.0em;
  margin: 0 30px;
}

.footer-main-nav h4 {
  color: #fff;
}

.animate.ng-enter,
.animate.ng-leave {
  -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  -webkit-transform: scaleY(0.6);
  -moz-transform: scaleY(0.6);
  -ms-transform: scaleY(0.6);
  -o-transform: scaleY(0.6);
  transform: scaleY(0.6);
  height: 55px;
  opacity: 0;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  height: 72px;
  opacity: 1;
}

/*!* The starting CSS styles for the enter animation *!*/
/*.animate.ng-enter {*/
/*transition:0.5s linear all;*/
/*opacity:0;*/
/*}*/

/*!* The finishing CSS styles for the enter animation *!*/
/*.animate.ng-enter.ng-enter-active {*/
/*opacity:1;*/
/*}*/
/*!* now the element will fade out before it is removed from the DOM *!*/
/*.animate.ng-leave {*/
/*transition:0.5s linear all;*/
/*opacity:1;*/
/*}*/
/*.animate.ng-leave.animate.ng-leave-active {*/
/*opacity:0;*/
/*}*/

.animate-repeat {
  height: 92px;
  min-height: 92px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all .2s ease-in-out;
  transition: all .32s ease-in-out;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  height: 0;
  min-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  height: 92px;
  min-height: 92px;
}

.animate-repeat.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.125s;
  transition-delay: 0.125s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay: 0.125s;
  transition-delay: 0.125s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}



