/*!
Local DSpace client styles.
*/
html {
  height: 100%;
}

body {
  background: #fefefe;
  min-height: 100%;
}

.opaque-img {
  opacity: 0.9;
}

.transparent {
  background: transparent;
}

.main {
  border-top: .4375rem solid #791716;
}

a, a:visited {
  color: #9A302F;
  text-decoration: none;
}

.spinner {
  position: relative;
  top: 100px;

}

.spinner {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
}

.md-button.logo {
  padding: 0;
}

.main-content {
  background: #fefefe;
}

.main-card {
  min-height: 650px;
}

.main-card > img {
  flex: 0 0 0;
}

.list-width {
  max-width: 800px;
}

.app-side-nav {
  margin-top: 102px;
}

.app-primary-content-container {
  margin-top: 10px;
}

md-sidenav {
  position: fixed;
}

md-sidenav.md-locked-open {
  max-width: 230px;
}

.md-sidenav-right .icon-list p,
.md-sidenav-right .icon-list a,
.md-sidenav-right .icon-list a:visited {
  /*padding: 0;*/
  /*margin: 0;*/
  color: rgb(16, 143, 152);
}

.mb-sidenav-right .icon-list md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
  margin-right: 8px;
}

.content-width {
  max-width: 950px !important;
  box-sizing: border-box;
}

.dialog-item-title {
  background: #e4dcca;
  color: #753D3D;
}

.dialog-record-width {
  max-width: 1000px;
}

.page-title {
  margin: 0 8px;
}

.nav-logo {
  color: #ffffff;
}

.large-dialog {
  min-width: 800px;
}

md-dialog.item-details {
  max-width: 1100px;
}

.dialog-column-padding {
  padding: 0px 12px !important;
}

.abstract {
  padding-top: 20px;
  max-width: 640px;
}

.nav-login {
  right: 72px;
}

.nav-login a,
.nav-login a:visited {
  color: #fff;
}

.dialog-toolbar a,
.dialog-toolbar a:visited {
  color: #fff;
}

.top-highlight {
  background-image: url('/images/masthead-bottom-img.jpg'), url('/images/background-grain.jpg');
  background-repeat: no-repeat, repeat-x;
  background-position: top center, top center;

}

.top-offset {
  margin-top: -192px;
}

.item-title {
  line-height: 42px;
  margin-top: 4px;
}

.parent-title {
  line-height: 21px;
}

.background-highlight {
  background: #fdfaf2;
  padding: 8px;
}

discover-filter-component .sort-options {
  margin-top: -15px;
}



collection-component md-content {
  background: transparent;
}

.discover-item .md-button {
  line-height: 21px;
}

.discover-item em {
  border: 1px solid #3FAAB2;
  color: #18676D;
  padding: 0 3px;

}

.list-highlight {
  cursor: pointer;
  color: #9A302F !important;
  border: 0;
  outline: none;
}

.search-box-container {
  /*background-color: #eee;*/
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 12px;
  background: rgb(252, 251, 249);
}

.search-form {
  /*width: 200px;*/
  padding-left: 22px;
}

.search-form md-input-container.md-has-icon,
.userOptions md-input-container {
  padding-left: 18px;
}

.userOptions md-input-container {
  margin: 0 0;
}

.sort-options {
  padding: 0px 16px;
  background: #ECEAE4;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 15px 0;
}

.advanced-filters {
  margin-top: 6px;
  margin-bottom: 12px;
}

.filter-container {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.advanced-search .sort-options {
  padding: 0;
}

md-input-container.halfer {
  min-width: 50%;
}

.search-form md-input-container {
  margin: 8px 0;
}

.search-form md-input-container md-radio-button {
  margin-bottom: 6px;
}

.search-form md-radio-group md-radio-button:not(:first-child) {
  margin-top: 8px;
}

.search-form .md-errors-spacer {
  min-height: 8px;
}

.search-form .md-button {
  margin: 8px 0;
}

.file-info .md-button {
  margin: 24px 0 -4px;
}

.file-name {
  line-height: 18px;
}

.file-info .md-button,
.file-info .md-button md-icon {
  color: #37949b;

}

.citation-margin {
  margin-top: 6px;
}

.search-form .md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.search-form .md-button[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.byline {
  margin-bottom: 20px;
}

.item-left-col-dimens {
  margin-top: 16px;
  min-width: 172px;
  margin-right: 4px;
}

.app-list-item {
  padding: 12px 9px;
  border: 0;
  outline: 0;
}

.selected-index .app-list-item {
  padding: 2px 9px;
}

.app-list-item div {
  border: 0;
  outline: 0;
}

.selected md-list-item.md-no-proxy, .selected md-list-item .md-no-style {
  padding: 0px 4px 0 4px;
}

.selected md-list-item.md-2-line .md-list-item-text {

  outline: 0;
  border: 0;
}

md-list-item.selected-index {
  padding: 4px 0;
  background: #DAC8A2;
  margin: 8px 3px 10px;
  width: 99%;
}

md-list-item.selected-sm-index {
  margin: 3px 3px 10px;
  border: 1px solid #ccc;
  width: 99%;
  background: #fff;
}

md-list-item .browse-item {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0;

}

md-list-item.selected-index .browse-item,
md-list-item.selected-sm-index .browse-item {
  height: 100%;
  background: #FAF9F7;
  visibility: visible;
  opacity: 1;
  max-height: 900px;
  margin-left: -7px;
  /*margin-bottom: 3px;*/
  width: 100%;
  transition: height 200ms, max-height 200ms, margin-left 300ms, opacity 300ms, visibility 300ms;

}

.selected-index .browse-item:last-child,
.selected-sm-index .browse-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.browse-anchor {
  cursor: pointer;
}

.selected-index .browse-anchor,
.selected-sm-index .browse-anchor {
  cursor: default;
  color: #173C3F;
  outline: 0;
  border: 0;
}

.selected-index .browse-anchor.md-title,
.selected-sm-index .browse-anchor.md-title {
  margin-bottom: 10px;
  margin-top: 6px;
  display: block;

}

item-detail-component,
author-detail-component,
subject-detail-component,
discover-detail-component {
  display: block;
  min-height: 50px;
}

.md-dialog-content h3 {
  color: rgb(121, 23, 22);
}

.animate.ng-enter,
.animate.ng-leave {
  -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  -webkit-transform: scaleY(0.6);
  -moz-transform: scaleY(0.6);
  -ms-transform: scaleY(0.6);
  -o-transform: scaleY(0.6);
  transform: scaleY(0.6);
  height: 55px;
  opacity: 0;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  height: 72px;
  opacity: 1;
}

.animate-repeat {
  height: 92px;
  min-height: 92px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all .2s ease-in-out;
  transition: all .32s ease-in-out;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  height: 0;
  min-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  height: 92px;
  min-height: 92px;
}

.animate-repeat.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.125s;
  transition-delay: 0.125s;
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay: 0.125s;
  transition-delay: 0.125s;
  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.discoveryMessages {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */
}

.discoveryMessages .hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  /* Set our own color */
  color: grey;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 10ms;
}

.fade.ng-hide-add {
  transition: all linear 300ms;
}

.footer {
  margin-top: 200px;
  min-height: 300px;
  background-color: #791716;
  text-align: center;
}

.footer a,
.fooger a:visited {
  margin: 22px 22px;
}

.footer > .footer-background {
  padding: 3.4375em 0;
}

.footer > .footer-background {
  background-image: url(/images/footer-watermark.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  padding: 2.1875em;
}

.footer-main-nav {
  margin-top: 40px;
}

.footer-main-nav a {
  font-size: 1.125em;
}

.footer-main-nav a {
  color: #c0ac7e;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-weight: 500;
  font-size: 1.0em;
  margin: 20px 30px;
}

.footer-main-nav h4 {
  color: #fff;
}







