body {
  background: #fdfaf2;
}

a, a:visited {
  color: #8F0100;
  text-decoration: none;
}

.main-content {
  background: #fdfaf2;
}

.app-side-nav {
  margin-top: 158px;
}

.content-width {
  max-width: 900px;
}

.page-title {
  margin: 0 8px;
}
.nav-logo {
  color: #ffffff;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button:not(.md-raised),
md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
  color: #ffffff;
}

.nav-login {
  right: 72px;
  color: #ffffff;
}

.top-highlight {
  background: #f4e3af;
  margin-top: 0px;
  height:154px;
}

.top-offset {
  margin-top: -140px;
}

.item-title {
  line-height: 35px;
  margin-top: 4px;
}

.parent-title {
  line-height: 18px;
}

.background-highlight {
  background: #fdfaf2;
  padding: 8px;
}

.list-highlight {
  color: #8F0100 !important;
}

.search-form {
  width: 200px;
}
.search-form md-input-container.md-has-icon {
  padding-left: 0px;
}

.sort-options {
  padding: 0px 16px;
}
.search-form md-input-container {
  margin: 0;
}

.search-form md-input-container md-radio-button {
  margin-bottom: 6px;
}

.search-form md-radio-group md-radio-button:not(:first-child) {
  margin-top: 8px;
}

.search-form .md-errors-spacer {
  min-height: 8px;
}

.search-form .md-button {
  background-color: #e1b224;
  margin: 8px 0;
}

.file-info .md-button {
  margin: 8px 0;
}
.file-info .md-button,
.file-info .md-button md-icon{
  color: #af8a18;

}

.search-form .md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.search-form .md-button[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
