<div >

  <h2 class="md-title" ng-if="$ctrl.isBrowseContext()">Browsing: {{$ctrl.browseTerms}}</h2>

  <div ng-if="$ctrl.count <= 10" class="md-body-1 md-accent layout-padding" style="padding-top: 30px;">{{$ctrl.resultCountLabel}} {{$ctrl.count}}</div>

  <div ng-if="$ctrl.count > 10" class="md-body-1 md-accent layout-padding">{{$ctrl.resultCountLabel}} {{$ctrl.count}}</div>

  <md-divider></md-divider>

  <div flex="100" layout-fill layout="column" style="min-height: 100%;margin-top: -12px;">

    <pager-back-component ng-if="$ctrl.showPager"

                          on-update="$ctrl.onPreviousUpdate(results, index)">

    </pager-back-component>

    <small-spinner ng-hide="$ctrl.ready"></small-spinner>

    <md-list  ng-if="$ctrl.ready">

      <discover-detail-component

        ng-repeat="item in $ctrl.items"
        title="{{item.title[0]}}"
        default-title="{{item.defaultTitle}}"
        id="{{item.resourceid}}"
        description="item.description"
        resource-type="{{item.resourcetype}}"
        handle="{{item.handle}}"
        last="$last"
        count="{{$ctrl.count}}">

      </discover-detail-component>

    </md-list>

    <pager-component

      on-update="$ctrl.onPagerUpdate(results, count, field)">

    </pager-component>

    <p>&nbsp;</p>
  </div>
</div>


