<md-list-item flex
              ng-class="{ 'md-whiteframe-z2': $ctrl.index == $ctrl.selectedIndex, 'selected-index': $ctrl.index == $ctrl.selectedIndex,  'selected-sm-index': $ctrl.index == $ctrl.xsSelectedIndex}">


  <md-item-content layout-fill>

    <div layout-fill flex class="md-list-item-text app-list-item">

      <div layout="row" flex ng-click="$ctrl.setSelectedIndex();$ctrl.getItems();">
        <a class="browse-anchor" ng-class="{'md-title': $ctrl.index == $ctrl.selectedIndex}" ng-href="#">{{$ctrl.author}}</a>
      </div>


      <div style="background: #FAF9F7;height: 100%;max-height: 900px;width:100%;margin-bottom: 3px;" layout-fill flex>

        <div class="browse-item" layout="column" layout-fill flex>

          <md-content>
            <small-spinner ng-hide="$ctrl.ready"></small-spinner>
            <item-detail-component
              ng-repeat="col in $ctrl.items.results"
              title="{{col.title}}"
              author="col.author[0]"
              publisher="{{col.publisher}}"
              year="{{col.year}}"
              handle="{{col.handle}}"
              id="{{col.id}}"
              last="$last">
            </item-detail-component>
          </md-content>

        </div>
      </div>

      <md-divider ng-if="!$ctrl.last"></md-divider>

    </div>

  </md-item-content>


</md-list-item>





