<md-dialog aria-label="List dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Item</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon aria-label="Close dialog" md-font-library="material-icons">cancel</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <div layout="column" layout-align="center" style="max-width: 900px">

        <!-- Title -->
        <div layout="row" flex>
          <div layout="column" flex flex-gt-lg="66">
            <h3 class="md-headline">{{$ctrl.data.name}}</h3>
          </div>
          <div flex="33" hide-xs>
          </div>
        </div>

        <!-- Byline and files-->
        <div layout-xs="column" layout-gt-xs="row" flex>
          <div layout="column" flex flex-gt-xs="66">
            <p class="md-title">{{$ctrl.data.author}}</p>
            <span class="md-body-2">Publication Date</span>
            <span class="md-body-1">{{$ctrl.data.date}}</span>
            <span class="md-body-2">Link Citation</span>
            <span class="md-body-1">{{$ctrl.data.url}}</span>
          </div>
          <div flex="33">
            <div class="file-info" layout="row" layout-align="center" layout-align-xs="start" ng-repeat="stream in $ctrl.data.bitstreams"
                 ng-if="stream.bundleName==='ORIGINAL'">

              <div style="margin-top: 8px;">
                <div ng-if="stream.mimeType==='application/pdf'" hide-xs><i class="material-icons"
                                                                    style="font-size: 2.5em;color: #999;">insert_drive_file</i>
                </div>
              </div>
              <div>
                <md-button class="md-subhead" target="_blank" href="/bitstream/{{stream.id}}/{{stream.name}}">
                  <md-icon md-font-library="material-icons">file_download</md-icon>
                  Download File
                </md-button>
                <div style="margin: -8px 0px 12px 8px; color: #666;">
                  {{stream.mimeType}}<br>
                  {{stream.sizeBytes}} bytes<br>
                  {{stream.description}}<br>
                </div>
              </div>
            </div>
          </div>
          </div>
          <!-- abstract and metadata -->
          <div layout="row" flex>
            <div layout="column" flex flex-gt-xs="66">
              <p ng-if="$ctrl.data.description.length > 0" class="md-title">Abstract / Description</p>
              <p>{{$ctrl.data.description}}</p>
              <h3>
                <md-button class="md-subhead md-fab md-mini md-accent" style="color: #fff;"
                           ng-click="$ctrl.toggleMeta();"
                           ng-if="!$ctrl.showMetadata">
                  <md-icon md-font-library="material-icons">expand_more</md-icon>
                </md-button>
                <md-button class="md-subhead md-fab md-mini md-accent" style="color: #fff;"
                           ng-click="$ctrl.toggleMeta();"
                           ng-if="$ctrl.showMetadata">
                  <md-icon md-font-library="material-icons">expand_less</md-icon>
                </md-button>
                Metadata
              </h3>
              <div layout="column" style="margin-top: 8px;" ng-repeat="meta in $ctrl.data.metadata"
                   ng-show="$ctrl.showMetadata">
                <div class="md-body-2">{{meta.key}}</div>
                <div class="md-body-1">{{meta.value}}</div>
              </div>
              <p></p>
            </div>
          </div>
        <div flex="33" hide-xs>
        </div>

        </div>

      </div>
  </md-dialog-content>
</md-dialog>


