<md-dialog aria-label="List dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Mango (Fruit)</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <div layout="column" layout-align="center" style="max-width: 900px">
        <h3>Parent Collection</h3>
        <ul>
          <li>
            {{$ctrl.data.parentCollection.name}}
          </li>
          <li>
            {{$ctrl.data.parentCollection.id}}
          </li>
          <li>
            {{$ctrl.data.parentCollection.handle}}
          </li>
        </ul>
        <h3>Item Info</h3>
        <ul>
          <li>
            {{$ctrl.data.name}}
          </li>
          <li>
            {{$ctrl.data.handle}}
          </li>
          <li>
            {{$ctrl.data.id}}
          </li>
          <li>
            {{$ctrl.data.type}}
          </li>
        </ul>
        <h3>Metadata</h3>
        <ul>
          <li ng-repeat="meta in $ctrl.data.metadata">
            <p><em>key:</em> {{meta.key}} <em>value:</em> {{meta.value}}</p>
          </li>
        </ul>
        <h3>Bitstreams</h3>
        <ul>
          <li ng-repeat="stream in $ctrl.data.bitstreams">
            {{stream.name}} <br>
            {{stream.retrieveLink}} <br>
            {{stream.id}} <br>
            {{stream.bundleName}}<br>
            {{stream.mimeType}}<br>
            {{stream.sizeBytes}} bytes<br>
            {{stream.description}}<br>
            <a target="_blank" href="/bitstream/{{stream.id}}/{{stream.name}}">Download File</a>
          </li>
        </ul>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>


