<md-list-item class="discover-item" flex>

  <div layout="column" class="md-list-item-text" layout-fill layout-padding flex>

    <div class="list-highlight" ng-if="$ctrl.title.length > 0" ng-click="$ctrl.showItem($event, $ctrl.id)" ng-bind-html="$ctrl.title"></div>
    <div class="list-highlight" ng-if="$ctrl.title.length == 0" ng-click="$ctrl.showItem($event, $ctrl.id)" ng-bind-html="$ctrl.defaultTitle"></div>

    <div class="md-body-1" ng-repeat="desc in $ctrl.description" ng-bind-html="desc"></div>

  </div>

  <md-divider  ng-if="!$ctrl.last"></md-divider>

</md-list-item>



