<div layout="column" layout-fill>
  <div class="file-info" layout="column" layout-align="start start" layout-align-xs="start"
       ng-repeat="stream in $ctrl.streams"
       ng-if="stream.bundleName==='ORIGINAL'">
    <md-button class="md-subhead" target="_top" analytics-on="click" analytics-event="Download" href="/bitstream/{{stream.id}}/{{stream.name}}">
      <md-icon md-font-library="material-icons">file_download</md-icon>
      {{$ctrl.downloadLabel}}
    </md-button>
    <div style="padding-left: 30px;max-width: 130px;">
      <div class="md-subhead file-name" aria-label="{{stream.description}}">{{stream.description}}
      </div>
      <div class="md-caption" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;margin-top: 3px;"
           aria-label="{{stream.name}}">{{stream.name}}
      </div>
      <div class="md-caption" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis"
           aria-label="{{stream.mimeType}}">
        {{stream.mimeType}}
      </div>
      <div class="md-caption" aria-label="{{stream.sizeBytes}}">{{stream.sizeBytes}} bytes</div>
    </div>
  </div>
</div>
