

<sort-options-component ng-if="$ctrl.context=='collection'"
  on-update="$ctrl.onUpdate(results, count, field)">
</sort-options-component>

<p>Results: {{$ctrl.count}}</p>

<item-detail-component

  ng-if="$ctrl.field!='author' && $ctrl.field!='subject' && $ctrl.field!=='discover'"
  ng-repeat="col in $ctrl.items"
  title="{{col.title}}"
  author="col.author[0]"
  publisher="{{col.publisher}}"
  year="{{col.year}}"
  handle="{{col.handle}}"
  id="{{col.id}}">

</item-detail-component>


<author-detail-component

  ng-if="$ctrl.field=='author'"
  ng-repeat="au in $ctrl.items"
  author="{{au.author.author}}"
  count="{{au.author.count}}"
  type="{{$ctrl.type}}"
  id="{{$ctrl.id}}"
  field="{{$ctrl.field}}">

</author-detail-component>

<subject-detail-component

  ng-if="$ctrl.field=='subject'"
  ng-repeat="sub in $ctrl.items"
  subject="{{sub.author.author}}"
  count="{{sub.author.count}}"
  type="{{$ctrl.type}}"
  id="{{$ctrl.id}}"
  field="{{$ctrl.field}}">

</subject-detail-component>

<discover-detail-component

  ng-if="$ctrl.field=='discover'"
  ng-repeat="item in $ctrl.items"
  title="{{item.title[0]}}"
  description="item.description"
  count="{{$ctrl.count}}">

</discover-detail-component>

<pager-component

  on-update="$ctrl.onUpdate(results, count, field)"   >

</pager-component>
