<md-list-item flex ng-click="$ctrl.showItem($event, $ctrl.id)">

  <div class="md-list-item-text" style="padding: 10px 5px">
    <div layout="column" flex="100" style="max-width: 100%;" class="md-list-item-text" layout-fill>
      <div class="md-subhead"><span class="list-highlight">
        <!-- SEO:  For a normal user, this anchor is unreachable inside the list item. It's
         here to provide a link for search engines that don't follow the ng-click attribute
         in the md-list-item element. -->
        <a href="{{$ctrl.getItemUrl()}}">{{$ctrl.title}}</a>
      </span>
        <br>
        <span ng-repeat="au in $ctrl.author" class="md-caption">{{au}}; </span> <span class="md-caption"
                                                                                      ng-if="$ctrl.publisher">{{$ctrl.publisher}}; </span>
        <span class="md-caption" ng-if="$ctrl.year">{{$ctrl.year}}</span></div>
      <div class="md-body-1 item-block-ellipsis">{{$ctrl.abstract}}</div>
    </div>
  </div>
  <md-divider ng-if="!$ctrl.last"></md-divider>
</md-list-item>

