<md-content md-default layout-padding>

  <h2 class="md-title" ng-if="$ctrl.isBrowseContext()">Browsing: {{$ctrl.browseTerms}}</h2>

  <sort-options-component ng-if="$ctrl.context!='discover'"
                          context="{{$ctrl.context}}"
                          on-update="$ctrl.onUpdate(results, count, field)"
                          reset-list-view ="$ctrl.resetListView()">
  </sort-options-component>

  <discover-filter-container ng-if="$ctrl.context=='discover'"
                          on-update="$ctrl.onUpdate(results, count, field)" >

  </discover-filter-container>

  <div class="md-subhead md-accent">Viewing {{$ctrl.count}} items.</div>


</md-content>

<md-content>

  <div layout="column">

    <pager-back-component ng-if="$ctrl.showPager"

      on-update="$ctrl.onPreviousUpdate(results, index)">

    </pager-back-component>

    <small-spinner ng-hide="$ctrl.ready"></small-spinner>


    <md-list  ng-if="$ctrl.ready">

      <item-detail-component

        ng-if="$ctrl.field!='author' && $ctrl.field!='subject' && $ctrl.field!=='discover'"
        ng-repeat="col in $ctrl.items"
        class="animate"
        title="{{col.title}}"
        author="col.author[0]"
        publisher="{{col.publisher}}"
        year="{{col.year}}"
        handle="{{col.handle}}"
        id="{{col.id}}">

      </item-detail-component>

      <author-detail-component

        ng-if="$ctrl.field=='author'"
        ng-repeat="au in $ctrl.items"
        class="'animate'"
        ng-class="{'selected': $index==$ctrl.selectedIndex}"
        author="{{au.author.value}}"
        count="{{au.author.count}}"
        type="{{$ctrl.type}}"
        id="{{$ctrl.id}}"
        index="{{$index}}"
        field="{{$ctrl.field}}"
        last="$last"
        set-selected="$ctrl.setSelected(index)">

      </author-detail-component>

      <subject-detail-component

        ng-if="$ctrl.field=='subject'"
        ng-repeat="sub in $ctrl.items"
        ng-class="{'selected': $index==$ctrl.selectedIndex}"
        subject="{{sub.author.value}}"
        count="{{sub.author.count}}"
        type="{{$ctrl.type}}"
        id="{{$ctrl.id}}"
        index="{{$index}}"
        field="{{$ctrl.field}}"
        last="$last"
        set-selected="$ctrl.setSelected(index)">

      </subject-detail-component>

      <discover-detail-component

        ng-if="$ctrl.field=='discover'"
        ng-repeat="item in $ctrl.items"
        title="{{item.title[0]}}"
        default-title="{{item.defaultTitle}}"
        id="{{item.resourceid}}"
        description="item.description"
        last="$last"
        count="{{$ctrl.count}}">

      </discover-detail-component>

    </md-list>

    <pager-component

      on-update="$ctrl.onPagerUpdate(results, count, field)">

    </pager-component>

    <p>&nbsp;</p>
  </div>
</md-content>


