
<md-list-item layout="column" layout-align="left" flex
              ng-class="{ 'md-whiteframe-z1': $ctrl.index == $ctrl.selectedIndex, 'selected-index': $ctrl.index == $ctrl.selectedIndex}"


<md-item-content layout-fill layout="column">

  <div class="md-list-item-text app-list-item" ng-click="$ctrl.setSelectedIndex();$ctrl.getItems();">
    <!--
    <a ng-href="/browse/{{$ctrl.type}}/{{$ctrl.id}}/{{$ctrl.field}}/{{$ctrl.author}}/{{$ctrl.offset}}">{{$ctrl.author}}</a>
    -->
    <a class="browse-anchor" ng-href="#">{{$ctrl.subject}} ({{$ctrl.count}})</a>
  </div>

  <md-divider ng-show="$ctrl.index == $ctrl.selectedIndex"></md-divider>

  <div class="browse-item">
    <md-content layout-fill>
      <div layout="column" layout-fill class="expanded">
        <item-detail-component
          ng-repeat="col in $ctrl.items.results"
          title="{{col.title}}"
          author="col.author[0]"
          publisher="{{col.publisher}}"
          year="{{col.year}}"
          handle="{{col.handle}}"
          id="{{col.id}}">
        </item-detail-component>
      </div>
    </md-content>
  </div>

  <md-divider ng-if="!$last"></md-divider>

</md-item-content>
