<div layout="column" layout-fill layout-align="start start" style="max-width: 100%;height:100%;box-sizing:border-box;" layout-padding>

  <div layout-fill class="spinner" ng-hide="$ctrl.ready">
    <div layout="row" layout-fill layout-sm="column" layout-align="space-around">
      <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="90"></md-progress-circular>
    </div>
  </div>

  <div class="page-title" ng-hide="!$ctrl.ready">
    <div class="md-display-1 item-title">{{$ctrl.heading}}</div>

  </div>

  <md-card class="main-card md-hue-1" style="max-width:100%;" ng-hide="!$ctrl.ready">

      <md-card-content  class="md-hue-1" style="max-width:100%;">
        <div class="md-subhead" style="margin-bottom: 30px;" ng-bind-html="$ctrl.intro"></div>

            <community-item-component ng-repeat="comm in $ctrl.communities" handle="{{comm.handle}}" name="{{comm.name}}" last="$last">
            </community-item-component>


      </md-card-content>

  </md-card>


</div>

