<div layout="column" layout-fill layout-align="start start" style="max-width: 100%;height:100%;box-sizing:border-box;" layout-padding>

  <div layout-fill class="spinner" ng-hide="$ctrl.ready">
    <div layout="row" layout-fill layout-sm="column" layout-align="space-around">
      <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="90"></md-progress-circular>
    </div>
  </div>

  <div class="page-title" ng-hide="!$ctrl.ready">
    <div class="md-display-1 item-title">Departments</div>

  </div>

  <md-card class="main-card md-hue-1" style="max-width:100%;" ng-hide="!$ctrl.ready">

    <!--<div layout="column" layout-align="center center" style="min-width: 100%;">-->

      <md-card-content  style="max-width:100%;">
        <div class="md-subhead">{{$ctrl.intro}}</div>
        <!--<div layout="column" layout-fill layout-align="start start" style="max-width:100%;height:100%">-->
          <md-content style="max-width:100%;margin-top: 20px;">
            <community-item-component ng-repeat="comm in $ctrl.communities" handle="{{comm.handle}}" name="{{comm.name}}" last="$last">
            </community-item-component>
          </md-content>

        <!--</div>-->

      </md-card-content>
    <!--</div>-->

  </md-card>


</div>

