<div class="layout-padding" flex="100" layout-fill layout-padding>

  <div class="page-title">
    <div class="md-subhead parent-title"><a ng-href="/handle/{{$ctrl.data.parentCommunity.handle}}">{{$ctrl.data.parentCommunity.name}}</a>
    </div>
    <div class="md-display-1 item-title">{{$ctrl.data.name}}</div>
  </div>

  <md-card class="md-hue-1" layout-fill>

    <img ng-src="/images/bio_header.jpg" class="md-card-image" alt="image caption">

    <md-card-content>

      <div layout="column" layout-align="center center">
        <div class="md-subhead" ng-bind-html="$ctrl.data.introductoryText" style="max-width: 800px;"></div>
        <p></p>
        <item-list-component context="collection" flex layout-fill style="max-width: 800px;"></item-list-component>
      </div>

    </md-card-content>

  </md-card>


</div>
