<div class="layout-padding" flex>

  <div class="page-title">
    <div class="md-subhead parent-title"><a ng-href="/handle/{{$ctrl.data.parentCommunity.handle}}">{{$ctrl.data.parentCommunity.name}}</a>
    </div>
    <div class="md-display-1 item-title">{{$ctrl.data.name}}</div>
  </div>

  <md-card class="md-hue-1" flex>

    <img ng-src="/images/bio_header.jpg" class="md-card-image" alt="image caption">

    <md-card-content flex>

      <div layout="column"  layout-align="center center">
      <div class="md-subhead" ng-bind-html="$ctrl.data.introductoryText" style="max-width: 800px;"></div>

      <p></p>

      <item-list-component context="collection" layout-fill style="max-width: 800px;"></item-list-component>
      </div>

    </md-card-content>

  </md-card>


</div>
