<div>

  <search-box-component type="{{$ctrl.type}}" id="{{$ctrl.id}}"></search-box-component>

  <h3>Community Info</h3>
  <ul>
    <li>
      {{$ctrl.data.name}}
    </li>
    <li>
      {{$ctrl.data.handle}}
    </li>
    <li>
      {{$ctrl.data.id}}
    </li>
    <li>
      {{$ctrl.data.type}}
    </li>
  </ul>
  <h3>Logo</h3>
  <ul>
    <li>
      {{$ctrl.data.logo.retrieveLink}}
    </li>
    <li>
      {{$ctrl.data.logo.sizeBytes}}
    </li>
    <li>
      {{$ctrl.data.logo.mimeType}}
    </li>
    <li>
      <img ng-src="{{$ctrl.getLogo()}}"/>
    </li>
  </ul>
  <h3>Collections</h3>



  <p>As an unauthenticated user I only see the public collections.</p>

  <ul>
    <li ng-repeat="coll in $ctrl.data.items">
      <collection-detail-component name="{{coll.name}}" short-description="{{coll.introductoryText}}" handle="{{coll.handle}}"></collection-detail-component>
    </li>
  </ul>


</div>
