<div layout="column" layout-fill layout-margin layout-align="start start" style="max-width: 100%;height:100%;box-sizing:border-box;" layout-padding>


  <div class="page-title">
    <div class="md-subhead parent-title"><a ng-href="/communities">{{$ctrl.homeLinkLabel}}</a>
    </div>
    <div class="md-display-1 item-title">{{$ctrl.data.name}}</div>

  </div>

  <md-card class="main-card md-hue-2" style=" max-width: 100%;" >

    <img ng-if="$ctrl.hasLogo()" ng-src="{{$ctrl.getLogo()}}" class="md-card-image" alt="image caption"/>

    <md-card-content>

      <div layout="column" layout-align="center left">

        <md-content class="md-hue-2" style="margin-bottom: 10px;border: 1px solid #ccc; border-radius: 4px;" layout-padding layout="row" layout-align="left center" ng-hide="$ctrl.hideLoginMessage">
          <div class="md-subhead" layout-fill>{{$ctrl.loginMessage}}</div>
          <login-component raised="true"></login-component>
        </md-content>


        <div class="md-subhead" ng-bind-html="$ctrl.data.introductoryText"></div>

        <div style="margin-top: 30px;">
          <md-divider></md-divider>

          <collection-item-component ng-repeat="coll in $ctrl.data.items" title="{{coll.name}}"
                                     description="{{coll.introductoryText}}" handle="{{coll.handle}}"
                                     last="$last"></collection-item-component>

        </div>

        </md-content>

      </div>
      <p>&nbsp;</p>
    </md-card-content>


  </md-card>


</div>





