<div flex="100" layout="column" layout-align="top top" layout-fill layout-padding>

  <div layout="column" class="page-title">
    <div>
      <div class="md-display-1 item-title">{{$ctrl.data.name}}</div>
    </div>

  </div>

  <md-card class="main-card md-hue-1" flex>

    <img ng-src="/images/bio_header.jpg" class="md-card-image" alt="image caption">

    <div layout="column" layout-align="center center">
      <md-card-content class="inner-width" flex>

        <div layout="column" layout-align="center left">
          <div class="md-subhead" ng-bind-html="$ctrl.data.introductoryText"></div>

          <md-content layout-padding layout="row" layout-align="left center" ng-hide="$ctrl.hideLoginMessage">
            <div class="md-subhead" layout-fill>Login to see additional collections.</div>
            <login-component></login-component>
          </md-content>
          <md-divider></md-divider>

          <md-content layout-padding>
            <collection-item-component ng-repeat="coll in $ctrl.data.items" title="{{coll.name}}"
                                       description="{{coll.introductoryText}}" handle="{{coll.handle}}"
                                       last="$last"></collection-item-component>

          </md-content>

        </div>
        <p>&nbsp;</p>

      </md-card-content>
    </div>

  </md-card>


</div>

