md-content(class="transparent", ng-controller="AreaCtrl as vm" flex="100")
  md-content(class="transparent" layout="column" flex="100" flex-gt-lg="75")
    md-card.flex
      div(ng-if="vm.area.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="20")
            i.material-icons public
            span.md-subhead &nbsp;AREAS
          span(flex="70")
            h2.md-display-2 {{area.title}}
          span(flex)
          md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Area" ng-click="vm.showDialog($event, vm.deleteMessage)") <i class="material-icons">delete</i>


      md-content
        div(layout="row", layout-align="start start")
          md-card-content(flex="20" )
            md-button(class="md-raised md-accent" ng-click="vm.showDialog($event, vm.addMessage)") Add Area
          md-card-content(layout="column" layout-padding flex="80" flex-gt-md="80" style="padding-left: 20px;")
            div(flex="80" class="md-subhead grey-text")
              span #[em Areas] are the most general way to group collections. A collection can be assigned to multiple Areas.

      md-content(layout="row", layout-align="start start")
        md-card-content(flex="20" )
          div(layout="column", style="height:700px;")
            md-content(flex class="sortable-list")
              div(class="md-caption" style="margin-top: 10px;") Drag item to reorder
              md-list(dnd-list="vm.areas")
                md-list-item(ng-repeat="area in vm.areas", dnd-draggable="area", dnd-moved="vm.orderAreaList($index, area.id)",  dnd-effect-allowed="move" )
                  md-button(class="md-no-style md-button nav-item-dimens md-default-theme", ng-class="{'md-primary': area.id==vm.currentAreaId}" ng-click="vm.resetArea(area.id);")
                    div(class="list-group-item-text md-subhead layout-fill") {{area.title}}
                      div.md-ripple-container
                    md-divider


        md-card-content( layout-padding layout="column" flex="80" class="md-subhead grey-text")
          md-button(class="md-raised md-accent large-button"  ng-click="vm.updateArea()") Update Area
          md-input-container
            label Area Name
            input(type="text", ng-model="vm.area.title")
          md-input-container
            label Description  &nbsp;
              span(class="md-subhead md-default") maxuimum characters 450 (current {{vm.area.description.length}})
            textarea(type="textarea", ng-trim="false", ng-model="vm.area.description", maxlength="450")
          md-input-container
            label Button Label
            input(type="text", ng-model="vm.area.linkLabel")
          md-input-container
            label URL
            input(type="text", ng-model="vm.area.url")
          md-input-container
            label Search URL
            input(type="text", ng-model="vm.area.searchUrl")

