
md-content(class="transparent" layout="row", layout-align="start start", flex, ng-controller="CategoryCtrl as vm")
  md-content(class="transparent" layout="column" flex="100" flex-gt-lg="75")
    md-card.flex
      div(ng-if="vm.category.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="20")
            i.material-icons library_books
            span.md-subhead &nbsp;GROUPS
          span(flex="70")
            h2.md-display-2 {{vm.category.title}}
          span(flex)
          md-button(class="md-warn md-raised md-fab md-mini" aria-label="Delete Category" ng-click="vm.showDialog($event, vm.deleteMessage)") <i class="material-icons">delete</i>


      md-content
        div(layout="row", layout-align="start start")
          md-card-content(flex="20" )
            md-button(class="md-raised md-accent" ng-click="vm.showDialog($event, vm.addMessage)") Add Group
          md-card-content(layout="column" layout-padding flex="80" flex-gt-md="80" style="padding-left: 20px;")
            div(flex="80" class="md-subhead grey-text")
              span Collections can belong to a single #[em Collection Group]. A Collection Group provides specific
                |  information about the current collection and related collections.

        md-content(layout="row", layout-align="start start")
          md-card-content(flex="20" )
            div(layout="column", style="height:700px;")
              md-content(flex)
                md-list
                  div(ng-repeat="cat in vm.categories")
                    md-list-item
                      md-button(class="md-no-style md-button nav-item-dimens md-default-theme", ng-class="{'md-primary': cat.id==vm.currentCategory}" ng-click="vm.resetCategory(cat.id);")
                        div(class="list-group-item-text md-subhead layout-fill") {{cat.title}}
                          div.md-ripple-container
                    md-divider


          md-content(layout-padding flex="80" layout="column" style="padding-left: 20px;")
            md-button(class="md-raised md-accent large-button"  ng-click="vm.updateCategory()") Update Group
            md-input-container
              label Collection Name
              input(type="text", ng-model="vm.category.title")
            md-input-container
              label Area (mandatory)
              md-select(ng-model="vm.category.areaId" placeholder="Select an Area (mandatory)")
                md-option(ng-repeat="area in vm.areas" ng-value="area.id" ng-selected="area.id") {{area.title}}
            md-input-container
              label Description  &nbsp;
                span(class="md-subhead md-default") maxuimum characters 450 (current {{vm.category.description.length}})
              textarea(type="textarea", ng-trim="false", ng-model="vm.category.description", maxlength="450")
            md-input-container
              label Button Label
              input(type="text", ng-model="vm.category.linkLabel")
            md-input-container
              label URL
              input(type="text", ng-model="vm.category.url")


  md-content( layout="column" flex="25")

