md-content(class="transparent" layout-align="start start", flex, ng-controller="OverviewCtrl as vm")
  md-content(layout="column" flex class="transparent")
    md-card.flex(flex, style="min-height: 990px;")
      div(ng-if="vm.category.$resolved")
      md-toolbar.md_primary
        .md-toolbar-tools
          span(flex="50")
            i.material-icons home
            span.md-headline &nbsp; {{vm.areaLabel}}
      md-card-content(flex, class="grid-list-overview")
          md-grid-list(md-cols-sm="1", md-cols-md="2", md-cols-lg="4", md-cols-gt-lg="4", md-row-height="196px", md-gutter="12px", md-gutter-gt-sm="8px")

            md-grid-tile(class="blue" )
              md-grid-tile-header
                h3 Entries
              div(flex layout="row", layout-align="start start", style="height:100%;width:100%;background: #f9f9f9;border-bottom: 1px solid #eee;")
                collection-summary.flex
            md-grid-tile(class="blue" )
              md-grid-tile-header.flex
                h3 Item Types
                  span(style="float:right;" class="alert-color" ng-if="!vm.collectionTypeMatch")
                    i(class="material-icons") warning
              div(flex layout="row", layout-align="start start", style="height:100%;width:100%;background: #f9f9f9;border-bottom: 1px solid #eee;")
                collection-type-summary.flex

            md-grid-tile(class="blue" )
              md-grid-tile-header.flex
                h3 Search Option Types
                  span(style="float:right;" class="alert-color" ng-if="!vm.collectionSearchMatch")
                    i(class="material-icons") warning
              div(flex layout="row", layout-align="start start", style="height:100%;width:100%;background: #f9f9f9;border-bottom: 1px solid #eee;")
                search-option-summary.flex

            md-grid-tile(class="blue" )
              md-grid-tile-header.flex
                h3 Link Types
                  span(style="float:right;" class="alert-color" ng-if="!vm.collectionLinksMatch")
                    i(class="material-icons") warning
              div(flex layout="row", layout-align="start start", style="height:100%;width:100%; background: #f9f9f9;border-bottom: 1px solid #eee;")
                link-summary.flex
            md-grid-tile(class="blue", md-rowspan="2", md-colspan-gt-md="2", md-colspan-md="1", md-colspan-sm="1")
              md-grid-tile-header
                h3 Collection Categories
              div(id="categoryChart", class="svg-container", flex style="min-height: 200px;width:96%;padding-top: 50px;position: inherit;margin-left: -50%;margin-top: 20px;", d3-pie, label="categorySVG", data="vm.categoryCounts")

            md-grid-tile(class="blue", md-rowspan="2", md-colspan-gt-md="2" md-colspan-md="1", md-colspan-sm="1")
              md-grid-tile-header
                h3 Content Types
              div(id="typeChart", class="svg-container", flex style="min-height: 200px;width:96%;padding-top: 50px;position: inherit;margin-left: -50%;margin-top: 20px;", d3-pie, label="typesSVG", data="vm.typeCounts")

            md-grid-tile(class="blue", md-rowspan="2", md-colspan-gt-lg="4", md-colspan-lg="4" md-colspan-md="1", md-colspan-sm="1")
              md-grid-tile-header
                h3 Collection Totals by Subject
              div(id="subjectBar", class="svg-container", flex style="min-height: 300px; width:96%;padding-top: 50px;position: inherit;margin-left: -50%;", d3-bar, label="typesSVG", data="vm.subjects")
