<md-list-item flex flex ng-click="$ctrl.setSelectedPosition();$ctrl.getItems();"
              ng-class="{ 'md-whiteframe-z2': $ctrl.pos == $ctrl.selectedPosition, 'selected-index': $ctrl.pos == $ctrl.selectedPosition,  'selected-sm-index': $ctrl.pos == $ctrl.xsSelectedPosition}">


  <md-item-content layout-fill>

    <div layout-fill flex class="md-list-item-text app-list-item">

      <div layout="row" >
        <a class="browse-anchor" ng-class="{'md-title': $ctrl.pos == $ctrl.selectedPosition}" ng-href="#">{{$ctrl.author}}</a>
      </div>

      <div style="height: 100%;max-height: 900px;width:100%;" layout-fill flex>

        <div class="browse-item" layout="column" layout-fill flex>

          <md-content>
            <small-spinner ng-hide="$ctrl.ready"></small-spinner>
            <inline-item-detail-component
              ng-repeat="col in $ctrl.items.results"
              title="{{col.title}}"
              publisher="{{col.publisher}}"
              abstract="{{col.abstract}}"
              year="{{col.year}}"
              handle="{{col.handle}}"
              id="{{col.id}}"
              type="inline"
              last="$last">
            </inline-item-detail-component>
          </md-content>

        </div>
      </div>
    </div>

  </md-item-content>


</md-list-item>
<md-divider ng-if="!$ctrl.last"></md-divider>





