<md-list-item flex ng-click="$ctrl.setSelectedPosition();$ctrl.getItems();"
              ng-class="{ 'md-whiteframe-z2': $ctrl.pos == $ctrl.selectedPosition, 'selected-index': $ctrl.pos == $ctrl.selectedPosition,  'selected-sm-index': $ctrl.pos == $ctrl.xsSelectedPosition}">


  <md-item-content layout-fill>

    <div layout-fill flex class="md-list-item-text app-list-item" >

      <div ng-if="$ctrl.count > 10" layout="row" layout-fill>
        {{$ctrl.subject}} ({{$ctrl.count}})
        <span flex></span>
        <a class="md-caption"
           ng-href="#">view in browse
          <md-icon md-svg-src="{{$ctrl.getImagePath('ic_open_in_new_black_24px.svg')}}"></md-icon>
        </a>
      </div>

      <div ng-if="$ctrl.count <= 10" layout="row" flex >

        <a class="browse-anchor" ng-class="{'md-title': $ctrl.pos == $ctrl.selectedPosition}" $ng-href="#">{{$ctrl.subject}}
          ({{$ctrl.count}})</a>
        <span flex></span>

      </div>


      <div style="background: #FAF9F7;height: 100%;width:100%;margin-bottom: 3px;" layout-fill flex>

        <div class="browse-item" layout="column" layout-fill flex>

          <md-content>
            <small-spinner ng-hide="$ctrl.ready"></small-spinner>
            <inline-item-detail-component
              ng-repeat="col in $ctrl.items.results"
              title="{{col.title}}"
              author="col.author"
              publisher="{{col.publisher}}"
              year="{{col.year}}"
              handle="{{col.handle}}"
              abstract="{{col.abstract}}"
              id="{{col.id}}"
              type="inline"
              last="$last">
            </inline-item-detail-component>
          </md-content>

        </div>
      </div>




    </div>
  </md-item-content>


</md-list-item>
<md-divider ng-if="!$ctrl.last"></md-divider>
