<md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')"
            ng-class="{'transparent': $ctrl.greaterThanMd()}">

  <div ng-class="{'app-side-nav': $ctrl.greaterThanMd()}" layout="column">

    <md-toolbar ng-if="!$ctrl.greaterThanMd()">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button md-button md-ink-ripple" ng-if="!$ctrl.greaterThanMd()"
                   ng-click="$ctrl.close()" class="md-primary" aria-label="Close">
          <md-icon md-svg-src="/images/ic_close_white_32px.svg" aria-hidden="true"></md-icon>
          <div class="md-ripple-container"></div>
        </md-button>
      </div>
    </md-toolbar>

    <div layout="column" layout-padding layout-align="center left">
      <md-divider></md-divider>
      <a ng-if="$ctrl.type!='global'" ng-href="/communities" class="md-subhead">{{$ctrl.allCommunitiesLink}}</a>

    </div>

    <search-box-component ng-if="$ctrl.type!='global' && $ctrl.type!='discover'" type="{{$ctrl.type}}"
                          id="{{$ctrl.id}}"></search-box-component>

    <global-search-box-component ng-if="$ctrl.type=='global'"></global-search-box-component>

    <div layout="column" layout-padding layout-align="center left">
      <md-divider></md-divider>
    </div>


    <div class="userOptions" layout="column" layout-padding layout-align="center left">

      <md-input-container ng-show="$ctrl.canSubmit">
      <md-button class="md-accent md-raised" href="{{$ctrl.dspaceHost}}{{$ctrl.dspaceRoot}}/handle/{{$ctrl.itemHandle}}/submit" target="_blank" >{{$ctrl.submitButtonLabel}}</md-button>
        </md-input-container>
      <div ng-show="$ctrl.showSubmitInstuctions">
        <a href="{{$ctrl.submitInstructionsLink}}" target="_blank">{{$ctrl.submitInstructions}}</a></div>

      <div ng-show="$ctrl.canAdminister">
        <a href="{{$ctrl.dspaceHost}}{{$ctrl.dspaceRoot}}/admin/collection?collectionID={{$ctrl.itemId}}" target="_blank">Administer {{$ctrl.actionType}}</a></div>

      <div ng-show="$ctrl.isSystemAdmin">
        <a href="{{$ctrl.dspaceHost}}{{$ctrl.dspaceRoot}}/admin/panel" target="_blank">Administer {{$ctrl.actionType}}</a></div>
    </div>

  </div>
</md-sidenav>

