<div>
  <main-search-component type="{{$ctrl.data.type}}" id="{{$ctrl.data.id}}"></main-search-component>
  <h3>Parent Community</h3>
  <ul>
    <li>
      {{$ctrl.data.parentCommunity.name}}
    </li>
    <li>
      {{$ctrl.data.parentCommunity.id}}
    </li>
    <li>
      {{$ctrl.data.parentCommunity.handle}}
    </li>
  </ul>
  <h3>Collection Info</h3>
  <ul>
    <li>
      {{$ctrl.data.name}}
    </li>
    <li>
      {{$ctrl.data.introductoryText}}
    </li>
    <li>
      {{$ctrl.data.handle}}
    </li>
    <li>
      {{$ctrl.data.id}}
    </li>
    <li>
      {{$ctrl.type}}
    </li>
  </ul>
  <h3>Logo</h3>
  <ul>
    <li>
      {{$ctrl.data.logo.retrieveLink}}
    </li>
    <li>
      {{$ctrl.data.logo.sizeBytes}}
    </li>
    <li>
      {{$ctrl.data.logo.mimeType}}
    </li>
    <li>
      <img ng-src="{{$ctrl.getLogo()}}"/>
    </li>
  </ul>
  </ul>
  <h3>Items</h3>

  <item-list-component></item-list-component>

</div>
