<sort-options-component

  on-update="$ctrl.onUpdate(results, count, browseFormat)">

</sort-options-component>


<item-detail-component

  ng-if="$ctrl.browseFormat!='author'"
  ng-repeat="col in $ctrl.items"
  title="{{col.title}}"
  author="col.author[0]"
  publisher="{{col.publisher}}"
  year="{{col.year}}"
  handle="{{col.handle}}"
  id="{{col.id}}">

</item-detail-component>


<author-detail-component

  ng-if="$ctrl.browseFormat=='author'"
  ng-repeat="au in $ctrl.items"
  author="{{au.author.author}}"
  type="{{$ctrl.type}}"
  id="{{$ctrl.id}}"
  format="{{$ctrl.browseFormat}}">

</author-detail-component>


<pager-component

  on-update="$ctrl.onUpdate(results, count, browseFormat)"
  action="{{$ctrl.action}}",
  type="{{$ctrl.type}}"
  id="{{$ctrl.id}}">

</pager-component>
