<md-dialog layout="column" aria-label="Collection dialog" class="dialogs">
  <md-dialog-content>
    <h3 class="md-display-1">New Collection</h3>
    <md-input-container>
      <label for="input_4">Name</label>
      <input type="text" size="60" ng-model="collection.title" class="ng-pristine ng-valid md-input ng-touched" id="input_4" tabindex="0" aria-invalid="false" style="">
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" >
      Cancel
    </md-button>
    <md-button ng-click="addCollection(collection.title)" >
      Add Collection
    </md-button>
  </md-dialog-actions>
</md-dialog>
