
<header-component></header-component>

<!-- Without explicit height, Firefox (44.0.1) does not calculate the height of the flex container. -->
<div style="height: 100%;">

  <md-content class="main-content" flex="100">

    <div layout="column" flex="100" layout-fill layout-align="top" class="top-highlight">

      <div layout-xs="column" flex layout-fill layout-gt-xs="row" layout-align="center">

        <div layout="row" class="content-width">

          <browse-component flex-gt-md=="90" flex="100" layout-fill></browse-component>
          <side-nav-component type="browse" flex></side-nav-component>

        </div>
      </div>
    </div>

    <ng-include src="'/ds/partials/footer.html'">
    </ng-include>

  </md-content>

</div>




