<div layout-fill style="height: 100%;max-width: 100%;">

  <md-content flex class="main-content">

    <div layout="row" layout-fill layout-padding class="top-highlight" layout-align="center left" flex="100">

      <communities-component
                        flex-offset="0"
                        flex-offset-gt-sm="5"
                        flex-offset-gt-md="15"
                        flex-offset-gt-lg="20"
                        flex="100"
                        flex-gt-xs="95"
                        flex-gt-sm="70"
                        flex-gt-md="60"
                        flex-gt-lg="55"
                        class="app-primary-content-container"></communities-component>

      <side-nav-component type="global"
                          flex-gt-xs="0"
                          flex-gt-sm="25"
                          flex-gt-md="25"
                          flex-gt-lg="25"></side-nav-component>


    </div>

    <ng-include src="'/ds/partials/footer.html'">
    </ng-include>

  </md-content>
</div>






