<!--<header-component></header-component>-->

<!-- Without explicit height, Firefox (44.0.1) does not calculate the height of the flex container. -->
<div style="height: 100%;max-width: 100%;">

  <md-content class="main-content" style="max-width: 100%;">
    <div layout="row" class="top-highlight" flex="100" layout-align="center center">
      <div layout="row" flex="100" style="max-width:950px" layout-align="left center">

        <div layout="row" flex="100" layout-align="start start">

          <communities-component flex="100" flex-gt-md="90" style="margin-top: 20px;"></communities-component>

          <side-nav-component type="global" flex></side-nav-component>

        </div>
      </div>
    </div>

    <ng-include src="'/ds/partials/footer.html'">
    </ng-include>

</md-content>

</div>





