
<header-component flex></header-component>
<div layout="column" layout-align="top" layout-fill flex="100">



  <div flex class="top-highlight">
    <md-content class="main-content" layout-fill>

      <div layout="column" flex="100" layout-fill >
        <div layout-xs="column" flex="100" layout-fill layout-gt-xs="row" layout-align="center">
          <div layout="row" class="content-width">

            <discover-component flex="90" layout-fill></discover-component>

            <side-nav-component type="discover" flex="10"></side-nav-component>


          </div>
        </div>

        <footer layout="row" id="footer" layout-align="center center" class="footer">
          <div layout-fill class="footer-background content-width">
            <div layout="row" layout-align="center center" class="footer-main-nav">
              <a href="#">About the Commons</a>
              <a href="#">Mark O. Hatfield Library</a>
              <a href="#">Willamette University</a>
            </div>
            <div layout="row" layout-align="center center" class="footer-main-nav">
              <h4 class="md-subhead">The Academic Commons uses DSpace open source software.</h4>
            </div>
          </div>
        </footer>

      </div>
    </md-content>
  </div>

</div>







