<!-- Without explicit height, Firefox (44.0.1) does not calculate the height of the flex container. -->
<div style="height: 100%;max-width: 100%;">

  <md-content flex class="main-content" style="max-width: 100%;">

    <div layout="row" layout-fill class="top-highlight" flex="100" layout-align="center left">

      <div flex-offset-gt-xs="5"
           flex-offset-gt-sm="10"
           flex-offset-gt-md="20"
           flex-offset-gt-lg="25"
           flex="100"
           flex-gt-sm="60"
           flex-gt-md="55"
           flex-gt-lg="50">

        <discover-component
          flex="100"
          flex-gt-md="90"
          style="max-width:100%;"

          class="app-primary-content-container"></discover-component>



      </div>
      <div flex-gt-xs="5"
           flex-gt-sm="25"
           flex-gt-md="25"
           flex-gt-lg="30">
        <side-nav-component type="discover" flex></side-nav-component>
      </div>

    </div>

    <ng-include src="'/ds/partials/footer.html'">
    </ng-include>

  </md-content>

</div>













