
<footer layout="row" id="footer" layout-align="center center" class="footer" style="height: 100%">
  <div layout-fill class="footer-background content-width">
    <div layout="column" layout-gt-sm="row" layout-align="center center" class="footer-main-nav">
      <!--<a href="http://libmedia.willamette.edu/info/about" target="_top">About the Commons</a>-->
      <a href="http://library.willamette.edu" target="_top">Mark O. Hatfield Library</a>
      <a href="http://willamette.edu" target="_top">Willamette University</a>
    </div>
    <div layout="row" layout-align="center center" class="footer-main-nav">
      <h4 class="md-subhead">The Academic Commons uses DSpace open source software.</h4>
    </div>
  </div>
</footer>
