<header-component></header-component>

<md-content class="main-content">

  <div layout="row" class="top-highlight"></div>

  <div  layout-xs="column" layout-gt-xs="row" layout-align="center" class="top-offset">

    <div layout="row" class="content-width">

      <handle-component layout-fill></handle-component>

      <side-nav-component flex></side-nav-component>

    </div>

  </div>

  <footer layout="row"  layout-align="center center" id="footer" class="footer">

    <div layout-fill class="footer-background content-width">
      <div layout="row" layout-align="center center" class="footer-main-nav">
        <a href="#">About the Commons</a>
        <a href="#">Mark O. Hatfield Library</a>
        <a href="#">Willamette University</a>
      </div>
      <div layout="row" layout-align="center center" class="footer-main-nav">
        <h4 class="md-subhead">The Academic Commons uses DSpace open source software.</h4>
      </div>
    </div>

  </footer>

</md-content>

