<header-component></header-component>


<!-- Without explicit height, Firefox (44.0.1) does not calculate the height of the flex container. -->
<div style="height: 100%;max-width: 100%;">

  <md-content class="main-content" style="max-width: 100%;">

    <div layout="row" layout-fill class="top-highlight" flex="100" layout-align="center center">

      <div layout="row" flex="100" style="max-width:950px" layout-align="left center">

        <div layout="row" flex="100" layout-align="start start">

          <handle-component flex="100" flex-gt-md="90" style="max-width:100%;"
                            class="app-primary-content-container"></handle-component>

          <side-nav-component type="handle" flex></side-nav-component>

        </div>
      </div>
    </div>


    <footer layout="row" id="footer" layout-align="center center" class="footer" style="height: 100%">
      <div layout-fill class="footer-background content-width">
        <div layout="row" layout-align="center center" class="footer-main-nav">
          <a href="#">About the Commons</a>
          <a href="#">Mark O. Hatfield Library</a>
          <a href="#">Willamette University</a>
        </div>
        <div layout="row" layout-align="center center" class="footer-main-nav">
          <h4 class="md-subhead">The Academic Commons uses DSpace open source software.</h4>
        </div>
      </div>
    </footer>

  </md-content>

</div>



