<div ng-controller="LoginCtrl as vm">
  <p>
    <a ng-if="vm.sessionStatus" href="/logout" target="_top">Logout</a>
    <a ng-if="!vm.sessionStatus" href="auth/google" target="_top">Login</a>
  </p>
</div>

<div ng-controller="HandleCtrl as vm">


  <h3>Test Links</h3>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 2)">Public Community</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 11)">Public Collection Two</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 12)">Public Collection Two > Restricted Item (staff)</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 3)">Restricted Collection One</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 7)">Restricted Collection One > Restricted Item</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 13)">Public Collection Two > Public Item</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 9)">Public Community Two</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 14)">Public Community Two > Restricted Community Two</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 15)">Public Community Two > Restricted Community Two > Public Item</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 1)">Restricted Community</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 4)">Restricted Community > Public Collection Three</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 8)">Restricted Community  > Public Collection Three > Restricted Item</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 16)">Restricted Community  > Public Collection Three > Public Item</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 10)">Restricted Community Two</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 17)">Restricted Community Two > Public Community Four</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 18)">Restricted Community Two > Public Community Four > Public Item</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 19)">Restricted Community Two > Restricted Community Three</a>
  </p>

  <p>
    <a href="#" ng-click="vm.getItem(10177, 20)">Restricted Community Two > Restricted Community Three > Restricted Item</a>
  </p>


  <div ng-if="vm.item.type==='community'">
    <h3>Community Info</h3>
    <ul>
      <li>
        {{vm.item.name}}
      </li>
      <li>
        {{vm.item.handle}}
      </li>
      <li>
        {{vm.item.id}}
      </li>
      <li>
        {{vm.item.type}}
      </li>
    </ul>
    <h3>Logo</h3>
    <ul>
      <li>
        {{vm.item.logo.retrieveLink}}
      </li>
      <li>
        {{vm.item.logo.sizeBytes}}
      </li>
      <li>
        {{vm.item.logo.mimeType}}
      </li>
      <li>
        <img ng-src="{{vm.getLogo()}}"/>
      </li>
    </ul>
    <h3>Collections</h3>

    <p>As an unauthenticated user I only see the public collections.</p>
    <ul>
      <li ng-repeat="comm in vm.item.items">
        {{comm.name}} <br>
        {{comm.handle}} <br>
        {{comm.type}}<br>
        {{comm.id}} <br>
        {{comm.introductoryText}}<br>
        {{comm.shortDescription}} <br>
        {{comm.numberItems}} <br>
        {{comm.copyrightText}} <br>
      </li>
    </ul>
  </div>
  <div ng-if="vm.item.type==='collection'">
    <h3>Parent Community</h3>
    <ul>
      <li>
        {{vm.item.parentCommunity.name}}
      </li>
      <li>
        {{vm.item.parentCommunity.id}}
      </li>
      <li>
        {{vm.item.parentCommunity.handle}}
      </li>
    </ul>
    <h3>Collection Info</h3>
    <ul>
      <li>
        {{vm.item.name}}
      </li>
      <li>
        {{vm.item.handle}}
      </li>
      <li>
        {{vm.item.id}}
      </li>
      <li>
        {{vm.item.type}}
      </li>
    </ul>
    <h3>Logo</h3>
    <ul>
      <li>
        {{vm.item.logo.retrieveLink}}
      </li>
      <li>
        {{vm.item.logo.sizeBytes}}
      </li>
      <li>
        {{vm.item.logo.mimeType}}
      </li>
      <li>
        <img ng-src="{{vm.getLogo()}}"/>
      </li>
    </ul>
    <h3>Items</h3>
    <ul>
      <li ng-repeat="col in vm.item.items">
        {{col.name}} <br>
        {{col.handle}} <br>
        {{col.id}} <br>
        {{col.link}}<br>
      </li>
    </ul>
  </div>
  <div ng-if="vm.item.type==='item'">
    <h3>Parent Collection</h3>
    <ul>
      <li>
        {{vm.item.parentCollection.name}}
      </li>
      <li>
        {{vm.item.parentCollection.id}}
      </li>
      <li>
        {{vm.item.parentCollection.handle}}
      </li>
    </ul>
    <h3>Item Info</h3>
    <ul>
      <li>
        {{vm.item.name}}
      </li>
      <li>
        {{vm.item.handle}}
      </li>
      <li>
        {{vm.item.id}}
      </li>
      <li>
        {{vm.item.type}}
      </li>
    </ul>
    <h3>Metadata</h3>
    <ul>
      <li ng-repeat="data in vm.item.metadata">
        <p><em>key:</em> {{data.key}} <em>value:</em> {{data.value}}</p>
      </li>
    </ul>
    <h3>Bitstreams</h3>
    <ul>
      <li ng-repeat="stream in vm.item.bitstreams">
        {{stream.name}} <br>
        {{stream.retrieveLink}} <br>
        {{stream.id}} <br>
        {{stream.bundleName}}<br>
        {{stream.mimeType}}<br>
        {{stream.sizeBytes}} bytes<br>
        {{stream.description}}<br>

      </li>
    </ul>
  </div>


</div>
