<div layout="row" layout-align="center center" flex="100">


  <div
       flex-offset="0"
       flex-offset-gt-sm="5"
       flex-offset-gt-md="15"
       flex-offset-gt-lg="20"
       flex="75"
       flex-gt-xs="80"
       flex-gt-sm="70"
       flex-gt-md="60"
       flex-gt-lg="55"
       class="app-primary-content-container">

    <md-button class="logo" aria-label="Academic Commons" ng-click="$ctrl.goToHome();"
               style="max-width: 170px; height: 37px; vertical-align: middle;">
    <img ng-src="{{$ctrl.homeLogo}}">
    </md-button>

  </div>

  <div layout="column" flex layout-padding layout-align="center left"
       flex="25"
       flex-gt-xs="20"
       flex-gt-sm="25"
       flex-gt-md="25"
       flex-gt-lg="25">

    <login-component class="nav-login" ng-if="!$ctrl.isSmallScreen"></login-component>

    <md-button class="md-icon-button md-button md-ink-ripple hide-gt-md" type="button"
               style="margin: auto; vertical-align: middle;"
               ng-click="$ctrl.openMenu()" aria-label="Toggle Menu">
      <md-icon md-svg-src="{{$ctrl.getImagePath('ic_menu_white_24px.svg')}}" width="100%" aria-hidden="true"></md-icon>
      <div class="md-ripple-container"></div>
    </md-button>

  </div>


</div>







