<div layout-fill layout-align="start start" style="max-width: 100%;height:100%;box-sizing:border-box;" layout-padding>



  <div class="page-title">
    <div class="md-title parent-title">Search Departmental Collections
    </div>
  </div>


  <md-card class="main-card md-hue-1" style="max-width:100%;">

    <md-card-content>

      <div layout="column" class="discoveryMessages" layout-padding>
        <form name="discoveryForm" ng-submit="disc.submit(disc.terms)">
          <div>
            <md-input-container>
              <label class="md-no-sticky">Choose Department or Collection Area</label>
              <md-select ng-model="disc.communityId" ng-change="disc.selectCommunity()">
                <md-option class="md-2-line" ng-repeat="item in disc.searchItems" value="{{item.id}}"
                ">
                <div class="md-list-item-text" layout="column">
                  <div class="md-subhead">{{ item.name }}</div>
                </div>
                </md-option>
                </md-list>
              </md-select>
            </md-input-container>
          </div>
          <div ng-if="disc.communityId > 0">
            <md-input-container>
              <label class="md-no-sticky">Choose Collection</label>
              <md-select ng-model="disc.collectionId">
                <md-option class="md-2-line" ng-repeat="item in disc.collections" value="{{item.id}}"
                           ng-click="disc.selectCollection(item.id)">
                  <div class="md-list-item-text" layout="column">
                    <div class="md-subhead">{{ item.name }}</div>
                  </div>
                </md-option>
                </md-list>
              </md-select>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-sm="row" layout="left top">
            <md-input-container class="md-block" flex-gt-sm="70">
              <label>Enter Search Terms</label>
              <input ng-model="disc.terms" required name="terms">
              <div class="hint">Search term is required.</div>
              <!--<div ng-messages="discoveryForm.terms.$error">-->
                <!--<div ng-message="required">Search term is required.</div>-->
              <!--</div>-->
            </md-input-container>
            <div flex></div>
            <md-input-container flex-gt-sm="20">
              <md-button class="md-raised md-accent" ng-click="disc.submit(disc.terms)">Submit</md-button>
            </md-input-container>
          </div>

        </form>

      </div>

      <div layout-padding ng-hide="!disc.hideComponents" layout="column" layout-align="center center" style="margin-top: 50px;">
        <div class="md-subhead">Login above with your WU ID to access all collections!</div>
        <div class="md-subhead">Search across all departments or within a selected department. </div>
      </div>

      <item-list-component ng-hide="disc.hideComponents" context="discover"></item-list-component>

    </md-card-content>

  </md-card>


</div>




