<div layout-fill layout-align="start start" style="max-width: 100%;height:100%;box-sizing:border-box;" layout-padding>


  <div class="page-title">
    <div class="md-title parent-title">{{disc.pageHeader}}
    </div>
  </div>


  <md-card class="main-card md-hue-1" style="max-width:100%;">

    <md-card-content>

      <div layout="column" class="discoveryMessages" layout-padding>

        <form name="discoveryForm" ng-submit="disc.submit(disc.terms)">

          <md-input-container class="md-block" flex-gt-sm="70">
            <label>{{disc.textLabel}}</label>
            <input ng-model="disc.terms" required name="terms" title="search terms">
            <div class="hint">Search term is required.</div>
          </md-input-container>

          <div>
            <md-input-container class="halfer">
              <label class="md-no-sticky">{{disc.communityLabel}}</label>
              <md-select ng-model="disc.communityId" ng-change="disc.selectCommunity()">
                <md-option class="md-2-line" ng-repeat="item in disc.communityItems" value="{{item.id}}">
                  <div class="md-list-item-text" layout="column">
                    <div class="md-subhead">{{ item.name }}</div>
                  </div>
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div ng-if="disc.communityId > 0">
            <md-input-container class="halfer">
              <label class="md-no-sticky">{{disc.collectionLabel}}</label>
              <!-- Using the model trackBy option so that select will refresh when new community is selected.
                   https://material.angularjs.org/latest/api/directive/mdSelect -->
              <md-select ng-model="disc.selectedCollection" ng-model-options="{trackBy: '$value.id'}" >
                <md-option ng-value="item" class="md-2-line" ng-repeat="item in disc.collections" ng-click="disc.selectCollection(item.id)">
                  <div class="md-list-item-text" layout="column">
                    <div class="md-subhead">{{ item.name }}</div>
                  </div>
                </md-option>
              </md-select>
            </md-input-container>
          </div>


          <md-input-container flex-gt-sm="20">
            <md-button class="md-raised md-accent" ng-click="disc.submit()">{{disc.submitLabel}}</md-button>
          </md-input-container>


        </form>

        <item-list-component ng-hide="disc.hideComponents" context="discover"></item-list-component>

      </div>


    </md-card-content>

  </md-card>


</div>




