<div layout-padding layout="column" layout-fill layout-align="start start" style="max-width: 100%;height:100%;box-sizing:border-box;">

  <div class="page-title">

    <div layout="column" layout-align="left">

      <div layout="row">
        <div style="width: 50px;"></div>
        <div flex class="md-subhead parent-title"><a ng-href="/ds/handle/{{$ctrl.parentHandle}}">{{$ctrl.parentName}}</a>
        </div>
      </div>

      <div layout="row" layout-align="left center">
        <div style="width: 50px;">
        <md-button  ng-click="$ctrl.back()"  class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Toggle Menu">
          <md-icon md-svg-src="/ds/images/ic_arrow_back_black_24px.svg" aria-hidden="true"></md-icon>
          <div class="md-ripple-container"></div>
        </md-button>
          </div>
        <span flex class="md-display-1 item-title">{{$ctrl.collectionTitle}}</span>
      </div>

    </div>
  </div>

  <md-card class="main-card md-hue-1" flex>

    <md-card-content>

      <item-list-component flex="100" layout-fill class="list-width" context="{{$ctrl.context}}"></item-list-component>

    </md-card-content>

  </md-card>


</div>


