<div layout="row" flex layout-align="center center">

  <div flex-offset-gt-xs="5" flex-offset-gt-sm="15" flex-offset-gt-md="20" flex-offset-gt-lg="25" flex="100"
       flex-gt-sm="65" flex-gt-lg="40">

    <md-button class="logo" aria-label="Academic Commons" ng-click="$ctrl.goToHome();"
               style="max-width: 170px; height: 37px; vertical-align: middle;"
    ">
    <img ng-src="{{$ctrl.homeLogo}}">
    </md-button>

  </div>

  <div flex></div>

  <div layout="column" layout-padding layout-align="center right" flex-gt-xs="20" flex-gt-md="15" flex-gt-lg="10">

    <login-component class="nav-login" ng-if="!$ctrl.isSmallScreen"></login-component>

    <md-button class="md-icon-button md-button md-ink-ripple hide-gt-md" type="button"
               style="margin: auto; vertical-align: middle;"
               ng-click="$ctrl.openMenu()" hide-gt-sm="" aria-label="Toggle Menu">
      <md-icon md-svg-src="/ds/images/ic_menu_white_24px.svg" width="100%" aria-hidden="true"></md-icon>
      <div class="md-ripple-container"></div>
    </md-button>

  </div>
  <div flex-gt-xs="5" flex-gt-sm="10" flex-gt-md="20" ></div>
</div>







