
<div layout="column" flex layout-align="start start" style="max-width: 100%;height:100%;box-sizing:border-box;"
     layout-padding ng-if="!$ctrl.mobileItemRequest" ng-class="{'is-mobile': $ctrl.isMobileListView}">


  <div class="page-title" ng-class="{'is-mobile': $ctrl.isMobileListView}">
    <div class="md-subhead parent-title"><a ng-href="/ds/handle/{{$ctrl.data.parentCommunity.handle}}">{{$ctrl.data.parentCommunity.name}}</a>
    </div>
    <div class="md-display-1 item-title">{{$ctrl.data.name}}</div>
  </div>

  <md-card md-colors="::{background: 'default-background-50'}" class="main-card"
           style="max-width: 900px;min-width: 90%;">

    <img ng-if="$ctrl.hasLogo()" ng-src="{{$ctrl.getLogo()}}" class="md-card-image opaque-img" alt="image caption">

    <md-card-content style="max-width:100%;">

      <div layout="column" layout-align="center left">

        <div class="md-subhead intro" ng-bind-html="$ctrl.data.introductoryText"></div>

        <md-content>
          <item-list-component flex="100" layout-fill class="list-width"
                               context="{{$ctrl.context}}"></item-list-component>
        </md-content>

      </div>

    </md-card-content>

  </md-card>


</div>

<div layout-fill layout-align="start start" ng-if="$ctrl.mobileItemRequest" style="margin-top: -10px">

  <mobile-collection-item-component layout-fill layout-align="start start" collection-item="{{$ctrl.collectionItem}}"
                                    collection-handle="{{$ctrl.collectionHandle}}"></mobile-collection-item-component>

</div>


