<div class="search-form search-box-container" md-colors="::{background: 'default-background-100'}" layout-padding>

  <form ng-submit="sb.submit(sb.terms)">

    <div class="md-subhead" style="margin-bottom: 12px;">{{sb.searchHeaderLabel}}</div>


    <md-input-container  style="margin-top: 3px;">
      <label>{{sb.searchTextLabel}}</label>
      <input ng-model="sb.terms">
    </md-input-container>


    <md-input-container>
      <md-button class="md-raised md-accent" ng-click="sb.submit(sb.terms)">
        <md-icon md-font-library="material-icons" class="md-light">search</md-icon>
        {{sb.searchButtonLabel}}
      </md-button>
    </md-input-container>

    <input type="hidden" ng-model="sb.id" value="0"/>

  </form>

  <p class="md-caption"><a ng-href="/ds/advanced" class="md-accent" style="color: #3faab2;">{{sb.advancedLink}}</a></p>

</div>

