include ./header.jade

  body(ng-cloak)
    div(layout-fill)&attributes({layout: "column"})
      md-toolbar()
        div.md-toolbar-tools
          span
            h2.md-display-4 Tagger
          span(flex)
      div(layout="row" flex class="view-container")
        h1= message
        h2= error.status
        pre #{error.stack}
