doctype html
html
  head
    title= title

    <!-- build:css stylesheets/main.min.css -->
    link(rel="stylesheet", href="/stylesheets/jquery-ui-1.11.2-min.css")
    link(rel="stylesheet", href="/bower_components/angular-material/angular-material.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    <!-- endbuild -->

    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")


    base(href="/admin/")



