block javascript

  <!-- build:js javascripts/main.min.js -->
  script(type="text/javascript", src="../bower_components/angular/angular.min.js")
  script(type="text/javascript", src="../bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js")
  script(type="text/javascript", src="../bower_components/angular-animate/angular-animate.min.js")
  script(type="text/javascript", src="../bower_components/angular-route/angular-route.js")
  script(type="text/javascript", src="../bower_components/angular-resource/angular-resource.js")
  script(type="text/javascript", src="../bower_components/angular-aria/angular-aria.min.js")
  script(type="text/javascript", src="../bower_components/angular-material/angular-material.js")
  script(type="text/javascript", src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js")
  script(type="text/javascript", src="../bower_components/ng-file-upload/ng-file-upload.min.js")
  script(type="text/javascript", src="../bower_components/d3/d3.js")
  script(type="text/javascript", src="/javascripts/app/context.js")
  script(type="text/javascript", src="/javascripts/app/controllers.js")
  script(type="text/javascript", src="/javascripts/app/controllers/collections.js")
  script(type="text/javascript", src="/javascripts/app/controllers/authorization.js")
  script(type="text/javascript", src="/javascripts/app/controllers/layout.js")
  script(type="text/javascript", src="/javascripts/app/controllers/overview.js")
  script(type="text/javascript", src="/javascripts/app/controllers/tags.js")
  script(type="text/javascript", src="/javascripts/app/controllers/types.js")
  script(type="text/javascript", src="/javascripts/app/controllers/users.js")
  script(type="text/javascript", src="/javascripts/app/controllers/areas.js")
  script(type="text/javascript", src="/javascripts/app/controllers/categories.js")
  script(type="text/javascript", src="/javascripts/app/services.js")
  script(type="text/javascript", src="/javascripts/app/services/tagger.js")
  script(type="text/javascript", src="/javascripts/app/services/dialog.js")
  script(type="text/javascript", src="/javascripts/app/directives.js")
  script(type="text/javascript", src="/javascripts/app/directives/tagger.js")
  script(type="text/javascript", src="/javascripts/app/directives/charts.js")
  script(type="text/javascript", src="/javascripts/app/app.js")
  <!-- endbuild -->
