include ./header.jade

  body(ng-cloak)
    div(layout-fill)&attributes({layout: "column"})
      md-toolbar()
        div.md-toolbar-tools
          span
            h2.md-display-4 Tagger
          span(flex)
      div(layout="column" flex class="view-container")

          md-card(flex="30")
            md-card-content
              h3
                a(href="/auth/google") Login with Google
              p Restricted Access
          flex
include ./js-load.jade
