<div class="sort-options" layout="row">

  <md-input-container flex="{{$ctrl.fieldSelectorWidth}}">
    <label>{{$ctrl.fieldLabel}}</label>
    <md-select ng-model="$ctrl.selectedField" ng-change="$ctrl.resetField()" placeholder="{{$ctrl.fieldLabel}}">
      <md-option ng-repeat="field in $ctrl.fields" value="{{field.value}}">{{field.label}}</md-option>
    </md-select>
  </md-input-container>


  <md-input-container hide-xs flex="33">
    <label>{{$ctrl.orderLabel}}</label>
    <md-select ng-model="$ctrl.selectedOrder" ng-change="$ctrl.resetOrder()" placeholder="{{$ctrl.orderLabel}}">
      <md-option ng-repeat="order in $ctrl.orders"  value="{{order.value}}">{{order.label}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container flex="{{$ctrl.filterWidth}}" flex-xs="66">
    <label>{{$ctrl.placeholder}}</label>
    <input type="text" ng-model="$ctrl.filterTerms" ng-keydown="$ctrl.getFilter()" >
  </md-input-container>



</div>
